body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 20px 0;
}

hr{

    color: #555;
}

.form-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background:black;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(201, 199, 199, 0.1);
    opacity: 1;


}

.registration-form h2 {
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
}

label {
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="password"],
select {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}

select{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;

}

input:focus,
select:focus {
    border-color: #007bff;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
}

button:hover {
    background-color: #1C1C1C;
}

   
    



}